*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Desafio nivel agua*/
#nivel_agua{
    background-color: beige;
    padding: 10px;

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.nivel_agua{
    height: 300px;
    width: 200px;
    background-color: aqua;
    margin: 10px;
}

#nivel_danoninho{
    background-color: bisque;
    padding: 10px;
    display: none;
    
}

#cabecalho{
    width: 100%;
    height: 100px;
    background-color: rgb(209, 111, 255);
}

#conteudo_principal{
    display: flex;
    padding: 0px;
    background-color: black;
}

.nivel_danoninho{
    height: 300px;
    width: 50%;
    background-color: rgb(209, 111, 255);
    
}
#div_1{
    margin: 10px 5px 0px 0px;
}
#div_2{
    margin: 10px 0px 0px 5px;
}

#nivel_suco{
    padding: 10px;
    background-color: bisque;
    display: none;
}

#cabecalho_suco{
    width: 100%;
    height: 100px;
    background-color:rgb(255, 120, 142);
}

#main_suco{
    background-color: aquamarine;
    padding: 0px;
    display: flex;
}

#rodape_suco{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 120, 142);
}

.nivel_suco{
    height: 300px;
    background-color: rgb(255, 120, 142);
}

#bloco{
    width: 70%;
    margin: 10px 5px 10px 0px;
}

#menu_lateral{
    width: 30%;
    margin: 10px 0px 10px 5px;
}

#nivel_cafe{
    padding: 10px;
    background-color: bisque;
}

#cabecalho_cafe{
    height: 100px;
    width: 100%;
    background-color: yellowgreen;
}

#main_cafe{
    padding: 0px;
    background-color: red;
    display: flex;
}

#lateral_cafe{
    height: 300px;
    width: 30vw;
    background-color: yellowgreen;
    margin: 10px 10px 0px 0px;
}
#conteudo_cafe{
    width: 70vw;
    background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 0px 10px;
    padding: 10px;
}
.bloco{
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: rgb(80, 107, 27);
}
